body {
    margin: 0;
    background-color: rgba(0, 0, 250, 0.3);
    color: rgb(250, 250, 250);
    text-align: center;
    font-family: Helvetica, Arial, Sans Serif;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}

header {
background-image: linear-gradient(to bottom right, rgb(0, 0, 180), rgb(0, 250, 200));
    color: rgb(250, 250, 250);
    text-align: center;
    font-family: Helvetica, Arial, Sans Serif;
    width: 100%;
}

hr {
    width: 80%;
}

nav {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}

a {
  color: rgb(250, 250, 250);
  font-family: Helvetica, Arial, Sans Serif;
  text-decoration: none;
}

ul {
  list-style: none;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

li {
  width: 47.5vw;
  padding: 1em;
  border-radius: 2px;
  background-color: rgba(0, 0, 100, 0.2);
  pointer-events: all;
  cursor: pointer;
}

li:hover {
  box-shadow: 2px 5px 10px 2px inset rgb(247, 217, 217);
}

li:active {
  box-shadow: 2px 5px 10px 2px inset rgb(0, 0, 0);
}

.container {
  background-image: linear-gradient(to top right, rgb(0, 0, 0), rgb(100, 100, 100));
  border-radius: 10px;
  border: 3px solid black;
  width: 80vw;
  margin-top: 2em;
  margin-bottom: 1em;
}

.container-2 {
  background-image: linear-gradient(to top right, rgb(0, 0, 0), rgb(100, 100, 100));
  border-radius: 10px;
  border: 3px solid black;
  width: 80vw;
  margin-top: 2em;
  margin-bottom: 1em;
}

button {
  width: 50vw;
  height: fit-content;
  border-radius: 10px;
  border: 0;
  background-color: rgba(100, 0, 100, 0.7);
  font-size: 50px;
  margin: 1em;
  pointer-events: all;
  cursor: pointer;
  box-shadow: 5px 10px 20px 5px inset rgb(200, 0, 200);
  padding: 0.5em;
}

button:hover {
  width: 50vw;
  height: fit-content;
  border-radius: 10px;
  border: 0;
  background-color: rgba(150, 0, 150, 0.7);
  font-size: 50px;
  margin: 1em;
  pointer-events: all;
  cursor: pointer;
  box-shadow: 5px 10px 20px 5px inset rgb(250, 0, 250);
  padding: 0.5em;
}

button:active {
  width: 50vw;
  height: fit-content;
  border-radius: 10px;
  border: 0;
  background-color: rgba(50, 0, 50, 0.7);
  font-size: 50px;
  margin: 1em;
  pointer-events: all;
  cursor: pointer;
  box-shadow: 5px 10px 20px 5px inset rgb(0, 0, 0);
  padding: 0.5em;
}

form {
  background-image: linear-gradient(to top right, rgb(0, 0, 0), rgb(100, 100, 100));
  border-radius: 10px;
  border: 3px solid black;
  width: 50vw;
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 1em;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

input {
  margin: 0.5em;
  width: 8vw;
  height: 20px;
  border-radius: 5px;
}

.submit-btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

#btn {
  width: fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 250, 0.3);
  font-size: 16px;
}

#btn:hover {
  width: fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 250, 0.3);
  box-shadow: 5px 10px 20px 5px inset rgb(250, 0, 250);
  font-size: 16px;
}

#btn:active {
  width: fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 250, 0.3);
  box-shadow: 5px 10px 20px 5px inset rgb(150, 0, 150);
  font-size: 16px;
}

#btn2 {
  width: fit-content;
  height: fit-content;
  background-color: rgba(150, 0, 250, 0.3);
  font-size: 20px;
  color: rgb(250, 250, 250);
  border-radius: 10px;
  padding: 1em;
}

#btn2:hover {
  width: fit-content;
  height: fit-content;
  background-color: rgba(150, 0, 250, 0.3);
  box-shadow: 5px 10px 20px 5px inset rgb(250, 0, 250);
  font-size: 20px;
  color: rgb(250, 250, 250);
  border-radius: 10px;
  padding: 1em;
}

#btn2:active {
  width: fit-content;
  height: fit-content;
  background-color: rgba(150, 0, 250, 0.3);
  box-shadow: 5px 10px 20px 5px inset rgb(150, 0, 150);
  font-size: 20px;
  color: rgb(250, 250, 250);
  border-radius: 10px;
  padding: 1em;
}